<!-- app/views/car_models/show.html.erb -->
<h1><%= @car_model.name %></h1>
<p><strong>Make:</strong> <%= @car_model.make.name %></p>

<p>
  <%= link_to 'Edit', edit_car_model_path(@car_model) %> |
  <%= link_to 'Back', car_models_path %>
</p>
